// ==== Colors ====

$Purple: #852b7f;
$Red: #e9383f;
$Gradient-high: #852b7f;
$Gradient-low: #e9383f;
$Gray: #eeeeee;
$White: #ffffff;
$Green: #46c96c;
$Danger: #e84354;

$Text-primary: #383838;

// ==== Fonts ====

// Base CSS Starts

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(18, 38, 63, 0);
  font-family: "Product Sans", sans-serif;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0px;
  color: inherit;
}

body {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.8rem;
  margin: 0;
  text-align: left;
  color: $Text-primary;
  position: relative;
  background-image: linear-gradient(
      to bottom right,
      rgba($Gradient-high, 0.95),
      rgba($Gradient-low, 0.9)
    ),
    url("../images/hero-bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

button,
input,
textarea {
  border: none;
  outline: none !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

.danger {
  color: $Danger !important;
}

// Base CSS Ends

.content-row {
  display: flex;
  flex-direction: row;
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important;
  box-sizing: border-box;
}

.content-col {
  position: relative;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
}

.clearfix {
  align-items: stretch !important;
}

.float-right {
  float: right !important;
}

.spin-transition {
  transform: rotate(360deg);
  transition: 1s transform 0s infinite;
}

// **************************************
// *       Main CSS Starts
// **************************************

.container-fluid {
  max-width: 120rem;
  margin: 0px 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column !important;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.hero-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: 4.4rem;
    font-weight: 300;
    text-shadow: 1px 1px 4px #555;
    text-align: center;
    margin-top: 2.5rem;

    span {
      font-weight: 600;
    }
  }

  &__subheading {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px #555;
  }

  &__search-bar {
    margin-top: 6rem;
    min-height: 8rem;
    border: 0.8rem solid rgba($Purple, 0.5);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    border-radius: 6px;
    color: $Text-primary;
    width: 100%;

    & > * {
      width: 100%;
      display: flex;
      flex-direction: row;

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba($Purple, 0.5);
      }

      & > * {
        padding: 2rem;
      }
    }

    .search-bar {
      &__action-btn {
        cursor: pointer;
        transition: 0.4s border-radius, 0.2s all;

        svg {
          height: 2rem;
          width: 2rem !important;
          width: auto;
          color: $Purple;
        }

        &:hover {
          background: $Purple;
          border-radius: 1rem;

          svg {
            color: #fff;
          }
        }

        &:active {
          background: $Purple;
          transform: scale(0.8);

          svg {
            color: #fff;
          }
        }
      }

      &__search-input,
      &__search-radius {
        border-right: 1px solid rgba($Purple, 0.5);
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        flex: 1 1 auto;
        display: flex;
        align-items: center;

        input {
          flex: 1 1 auto;

          &[type="text"]:disabled {
            background: #fff;
          }
        }

        svg {
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
          color: $Purple;
        }
      }
    }
  }

  &__status-bar {
    margin-top: 4rem;
    padding: 1rem 4rem;
    color: #fff;
    border-radius: 3rem;
    background: $Purple;
    font-weight: 500;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;

  &__title {
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem;
  }

  &__filter {
    position: relative;

    .filter-btn {
      background: $Purple;
      padding: 1.2rem 2.4rem;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 6px;
    }

    .filter-list--hide {
      display: none !important;
    }

    .filter-list {
      position: absolute;
      top: 110%;
      right: 0px;
      background: #fff;
      color: $Text-primary;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 1rem;
      border-radius: 6px;
      z-index: 10;

      .item {
        padding: 0.6rem 1.6rem;
        cursor: pointer;

        &:not(:last-of-type) {
          border-bottom: 1px solid rgba($Purple, 0.5);
        }
      }
    }
  }
}

.resto-list__wrapper {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.resto-list__container {
  // background: #fff;
  background-color: rgb(194, 149, 191);
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.resto-card {
  display: flex;
  align-items: stretch;
  background: #fff;
  border-radius: 0.6rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  &__info-box {
    flex: 1 1 60%;
    min-width: 60%;
    padding: 1.5rem 2rem;
    overflow: hidden;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }

  &__rating,
  &__pricing {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;

    svg {
      color: #852b7f;
      height: 1.3rem;
      width: auto;
      margin-right: 0.4rem;

      &:last-of-type {
        margin-right: 1.6rem;
      }
    }

    &--fig {
      color: #852b7f;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &__open-flag {
    color: $Green;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__image-box {
    flex: 1 1 40%;
    min-width: 40%;
    overflow: hidden;
    padding: 1rem;

    .img-box {
      border-radius: 0.6rem;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      top: 0px;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__address {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
  }
}

.clear-btn {
  background: $Purple;
  padding: 0.4rem;
  color: #fff;
  border-radius: 100%;
  height: 2.6rem;
  width: 2.6rem;
  position: relative;
  box-shadow: 2px 2px 10px 2px rgba(64, 64, 64, 0.3);
  transition: 0.2s all;

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(0px);
  }

  svg {
    position: absolute;
    height: 1.8rem !important;
    color: #fff !important;
    top: 50%;
    left: 50%;
    margin-top: -0.9rem;
    margin-left: -1rem;
  }
}

// =============================== Responsive Css ===================

@media (max-width: 768px) {
  html {
    font-size: 60% !important;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50% !important;
  }
}
